body {
    background-color: #222;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Horizontal scrolling container */
.project-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Project Card Styles */
.project-grid {
    display: inline-flex;
    flex-wrap: nowrap;
}

.project-card {
    background-color: #333;
    padding: 20px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-right: 20px;
    flex-shrink: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transitions */
    transform-origin: center center ;
}

.project-card h3 {
    margin-top: 0;
    color: #fff;
}

.project-card p {
    color: #eee;
}

.project-card:hover {
    transform: scale(1.05); /* Increased scale for better visual effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Increased shadow and opacity */
    cursor: pointer; /* Indicate that the card is clickable */
    background-color: #444; /*Slightly darken the background on hover*/


/*Media Queries for larger screens*/
@media (min-width: 768px) {
  .project-card {
    width: 350px;
  }
}


/* Footer Styles */
footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.8em;
    color: #888;
}